.glass-container {
  &.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    a {
      text-decoration: none;
      color: $secondaryColorDark;
      font-weight: 700;
      transition: $defaultTransition;

      &:hover {
        transition: $defaultTransition;
        font-size: 17px;
      }
    }
  }
}
