.footer {
  @include standardSize();
  @include glassEffect();
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  @media screen and (max-width: 850px) {
    flex-direction: column;
  }
  a {
    text-decoration: none;
    color: $white;
    font-weight: 700;
    transition: $defaultTransition;

    &:hover {
      transition: $defaultTransition;
      font-size: 17px;
    }
  }
}
