@use "sass:list";
@use "sass:color";

$btnFontFamily: $headingFontFamily;
$btnActive: $baseColor;

.btnBase {
  display: flex;
  justify-content: center;
  border: none;
  box-sizing: border-box;
  padding: 10px 30px;
  margin: 5px;
  font-family: $btnFontFamily;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  background-color: color.adjust($btnActive, $lightness: -10%);
  color: $white;
  cursor: pointer;
  transition: $defaultTransition;
  min-width: 175px;

  &:hover {
    border-radius: 4px;
    background-color: color.adjust($btnActive, $lightness: -20%);
    transition: $defaultTransition;
    text-decoration: none;
  }

  &.secondary {
    background-color: $secondaryColor;

    &:hover {
      background-color: color.adjust($secondaryColor, $lightness: -10%);
    }
  }

  &.disabled {
    cursor: default;
    background-color: $disabledDark;
    background: color.adjust($disabledDark, $lightness: -10%);
  }

  &.disrruptive {
    background-color: $alternativeColor;

    &:hover {
      background: color.adjust($alternativeColor, $lightness: -10%);
    }
  }
}
