.form-contacto {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;

  .contacto-container {
    left: 0;
    height: 100%;
    padding: 20px 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 800px) {
      position: relative;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      border-radius: 4px;
      padding: 20px 1%;

      h1 {
        font-size: 20px;
      }

      span {
        font-size: 12px;
      }
    }
  }

  .wrap-content {
    display: flex;
    flex-direction: column;
    textarea{
      width: 100%;
      min-height: 200px;
      margin-bottom: 0;
      padding: 5px 10px;

    }

    .datos-contacto {
      display: flex;
      flex-direction: column;
      max-width: 390px;
      width: 100%;
      margin: 30px auto 0;

      @media screen and (max-width: 800px) {
        margin-top: 20px;
      }
    }

    .btn-container {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      @media screen and (max-width: 800px) {
        flex-direction: column-reverse;
        margin-top: 0;
      }
    }
  }
}
