.grid-salas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card-salas {
  flex-basis: 260px;
  max-width: 300px;
  min-width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: $border-radius-contaienrs;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: $defaultTransition;
  cursor: default;

  &:hover {
    box-shadow: 0 4px 14px 6px rgb(0 0 0 / 51%);
    img {
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: 700px) {
    transition: $defaultTransition;
    max-width: 400px;
    flex-basis: 300px;
  }

  .tag-destacado {
    content: "Destacado";
    background-color: rgb(231, 82, 82);
    color: $white;
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 4px 10px;
    line-height: normal;
    letter-spacing: 1px;
    font-family: $mainFont2;
    border-radius: $border-radius-standard;
    @include shadowEffect();
    transition: $defaultTransition;
    z-index: 9;
  }
}

.card-salas .imagen-space {
  width: 100%;
  overflow: hidden;
  transition: $defaultTransition;

  img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    transition: $defaultTransition;
  }
}

.card-salas .card-content {
  padding: 10px 20px 20px;
  min-height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include glassEffect();

  &.noBtn {
    min-height: 110px;
  }

  h4 {
    font-size: 20px;
    margin: 0;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $defaultTransition;
  }
}

.card-salas .card-content .bottom-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  .btnBase {
    margin-top: 20px;
  }
}
