.inputWrap {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0 20px;
  position: relative;

  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
  }
  &:nth-child(2) {
    margin-bottom: 40px;
  }

  input,
  textarea,
  select {
    background: rgba(255, 255, 255, 0.726);
    border: none;
    height: 40px;
    padding: 0 10px;
    border-radius: $border-radius-standard;
    box-shadow: 2px 2px 7px 1px #ddddddb0;
    box-sizing: border-box;
    resize: none;
    font-family: $mainFont;
  }

  label {
    min-width: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;

    @media screen and (max-width: 600px) {
      min-width: auto;
      margin-bottom: 10px;
    }
  }

  &.inputUser,
  &.inputPassword {
    @media screen and (max-width: 600px) {
      flex-direction: column;

      input {
        text-align: center;
      }
    }

    input {
      width: 100%;
    }
  }
}
