.error-message {
  display: flex;
  justify-content: center;
  max-width: 320px;
  height: 0px;
  transition: $defaultTransition;
  overflow: hidden;
  position: absolute;
  top: 85%;
  margin: 20px auto 10px;
  
  &.notShow {
    opacity: 0;
    transition: $defaultTransition;
  }

  &.show {
    opacity: 1;
    transition: $defaultTransition;
    
    height: 30px;
  }

  span {
    background-color: rgba(255, 0, 0, 0.5);
    color: $white;
    padding: 5px 20px;
    border-radius: $border-radius-standard;
    font-size: 14px;
  }
}
