.loader-inicial {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-color: $bg-color;
  background-image: url("/images/bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.loader-inner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 60px 10px;

  img {
    max-width: 150px;
    width: 100%;
    margin-right: 30px;
  }
  h1 {
    max-width: 180px;
    font-size: 25px;
    line-height: 25px;
    font-family: $mainFont2;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 450px) {
  .loader-inner {
    flex-direction: column;
    img {
      margin-right: 0;
      margin-bottom: 20px;
    }
    h1 {
      text-align: center;
    }
  }
}
