.main-login {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;

  .login-container {
    left: 0;
    height: 100%;
    max-width: 500px;
    width: 75%;
    padding: 20px 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 800px) {
      position: relative;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      border-radius: $border-radius-standard;
      padding: 20px 1%;

      h1 {
        font-size: 20px;
      }

      span {
        font-size: 12px;
      }
    }
  }

  .wrap-content {
    display: flex;
    flex-direction: column;

    .login-user {
      display: flex;
      flex-direction: column;
      max-width: 390px;
      width: 100%;
      margin: 30px auto 0;

      @media screen and (max-width: 800px) {
        margin-top: 20px;
      }
    }

    .btn-container {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      @media screen and (max-width: 800px) {
        flex-direction: column-reverse;
        margin-top: 0;

        .fgt-pass {
          margin: 10px 0 20px;
        }
      }

      .fgt-pass {
        font-size: 14px;
        color: $white;
      }
    }
  }
}

.mobile-app {
  display: none;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    max-width: 185px;
    height: 55px;
    object-fit: contain;
    width: 100%;
    margin: 10px;
  }

  h2 {
    font-size: 15px;
    margin: 0;
  }
}
