@mixin standardSize() {
  max-width: $default-size;
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 10px 20px;
  box-sizing: border-box;
}

@mixin glassEffect() {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.267);
  border-radius: $border-radius-standard;
}

@mixin shadowEffect(){
  box-shadow: 2px 4px 9px -2px #393636b0;

}



