$black: #000000;
$white: #ffffff;

$darkColor: #202020;
$lightColor: #f1f1f1;

$baseColor: #71a1d4;

$mainColor: $baseColor;
$secondaryColor: $baseColor;
$secondaryColorDark: #222c5c;

$disabledDark: #dbdbdb;

$alternativeColor: #f07888;

$defaultTransition: all 300ms ease;

$default-size: 1200px;
$border-radius-standard: 5px;

$border-radius-contaienrs: $border-radius-standard + 4;



$bg-color:#303030;