#espacios-destacados {
  margin-top: 3rem;
  width: 100%;
  max-width: 900px;
  text-align: center;
  border: $boder-radius-images;
  margin-bottom: 2rem;

  .swiper-destacados {
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    border-radius: $boder-radius-images;

    .swiper {
      width: 100%;
      height: 100%;
      border-radius: $boder-radius-images;
    }

    .swiper-wrapper {
      border-radius: $boder-radius-images;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      cursor: pointer;
      border-radius: $boder-radius-images;
      overflow: hidden;
      transition: $defaultTransition;
      position: relative;
      
      &::after {
        content: "Destacado";
        background-color: rgb(231, 82, 82);
        color: $white;
        position: absolute;
        top: 10px;
        right: 12px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 4px 10px;
        line-height: normal;
        letter-spacing: 1px;
        font-family: $mainFont2;
        border-radius: 8px;
        @include shadowEffect();
        @media screen and (max-width: 500px) {
          font-size: 10px;
          right: 5px;
          top: 5px;
          padding: 2px 6px;
        }
      }
      &:hover {
        transition: $defaultTransition;
        opacity: 0.8;
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: $boder-radius-images;
      @include shadowEffect();

      @media screen and (max-width: 700px) {
        height: 200px;
      }

      @media screen and (max-width: 500px) {
        height: 150px;
      }
    }
  }
}
